*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
}
.container{
    width: 85%;
    margin: 0 auto;
    align-items: center;
    /* border: 1px solid red; */
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-background{
    /* border: 1px solid red; */
    box-shadow: 0px 6px 10px gray;
}
.navbar{
    padding: 18px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo img{
    width: 15%;
    border-radius: 55px;
    margin-top: 5px;
    /* margin-left: 20px; */
}
#nav-buttons{
    display: block;
}
#nav-buttons ul{
    display: flex;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    /* display: none; */
    /* border: 1px solid red; */
}
#nav-buttons li{
    display: block;
}
#nav-buttons ul li a{
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 30px;
    /* display: none; */
}
.nav-buttons2{
    display: none;
}
.nav-buttons2 ul{
    display: none;
}
.nav-buttons2 ul li{
    display: none;
}
.bars a{
    text-decoration: none;
    color: rgb(85, 186, 248);
    display: none;
    /* border: 1px solid red; */
}
.white{
    background-color: white;
}




@media (min-width: 576px) and (max-width: 900px){
    .row{
        display: block;
        align-items: center;
    }
    .nav-logo{
        width: auto;
        /* border: 1px solid blue; */
    }
    .nav-logo img{
        width: 18%;
        border-radius: 65px;
        margin-top: 5px;
        margin-left: 0;
    }
    #nav-buttons{
        display: none;
    }
    #nav-buttons2{
        display: none;
    }
    #nav-buttons2 ul{
        display: block;
        list-style: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
        padding-bottom: 5px;
        /* display: none; */
        /* border: 1px solid red; */
    }
    #nav-buttons2 ul li{
        margin: 25px 0px;
    }
    #nav-buttons2 ul li a{
        text-decoration: none;
        color: black;
        margin-left: 0px;
        /* display: none; */
    }
    .nav-buttons2 ul{
        display: block;
    }
    .nav-buttons2 ul li{
        display: block;
    }
    .bars a{
        text-decoration: none;
        color: rgb(85, 186, 248);
        display: block;
        /* display: none; */
        /* border: 1px solid red; */
    }
}


/* media query from 901px to 1100px */
@media (min-width: 901px) and (max-width: 1100px){
    .nav-logo img{
        width: 20%;
        border-radius: 60px;
        margin-top: 5px;
        /* margin-left: 20px; */
    }
}

/* media query from 1100px */
@media (min-width: 1100px){
    #nav-buttons{
        display: block;
    }
}